.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, auto);
  }
}

.advantages__item {
  position: relative;
}

.advantages__item--city {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

.advantages__item--city::before {
  @media (max-width: $mobile-only) {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 37px;
    background-image: url("../img/advantage-triangle.svg");
    background-position: center;
  }
}

.advantages__item--bridge {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.advantages__item--gray-bg {
  background-color: $light-gray;
  color: $light-black;
  padding: 25px 35px;

  .advantages__title {
    color: $black;
  }

  @media (min-width: $tablet-width) {
    padding: 42px 35px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 62px;
  }
}

.advantages__item--area::after {
  @media (max-width: $mobile-only) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 87%;
    height: 1px;
    background-color: $cloudy-gray;
  }
}

.advantages__item--road {
  @media (min-width: $tablet-width) {
    padding-left: 53px;
    padding-right: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 62px;
    padding-right: 62px;
  }
}

.advantages__item--road::after {
  @media (max-width: $mobile-only) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 87%;
    height: 1px;
    background-color: $cloudy-gray;
  }
}

.advantages__item--tourists {
  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.advantages__info {
  padding: 0 10px;
  background-color: $light-blue;
  color: $white;
}

.advantages__info--city {
  padding-top: 70px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    padding: 0 32px;
    padding-top: 40px;
    padding-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 55px;
    padding-top: 47px;
    padding-bottom: 57px;
  }
}

.advantages__info--bridge {
  padding-top: 40px;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    order: 2;
    padding: 0 36px;
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 85px;
    padding-top: 51px;
    padding-bottom: 53px;
  }
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin: 0 auto;
  margin-bottom: 12px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 155px;
    font-size: 21px;
    margin-bottom: 14px;
  }
}

.advantages__title-break {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.advantages__number {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.advantages__description {
  line-height: 21px;
  margin: 0;
  text-align: center;
}

.advantages__description-break {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.advantages__photo {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 512px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantages__photo .image {
  @media (min-width: $tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantages__photo--city {
  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
  }
}
