.button {
  display: block;
  font-size: 21px;
  font-family: inherit;
  font-weight: bold;
  line-height: 26px;
  color: $white;
  background-color: $light-blue;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
}

.button--disabled {
  pointer-events: none;
  background-color: $very-light-gray;
}
