.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  line-height: 26px;
  color: $black;
  margin: 0;
  margin-right: 13px;
  text-align: center;
}

.copyright__link:hover {
  .copyright__logo-htmlacademy {
    fill: $light-blue;
  }
}

.copyright__link:active {
  .copyright__logo-htmlacademy {
    fill: $black;
    opacity: 0.3;
  }
}
