.failure-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none;
  width: 320px;
  padding: 40px 42px 35px;
  background-color: $white;
  box-shadow: 0 7px 15px rgba($blackish, 0.15);

  @media (min-width: $tablet-width) {
    width: 400px;
    padding: 52px 47px 49px;
  }
}

.failure-popup__caption {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $black;
  text-align: center;
  margin: 0;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 23px;
    font-size: 30px;
    line-height: 40px;
  }
}

.failure-popup__description {
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }
}

.failure-popup__button {
  width: 180px;
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 14px;
  margin: 0 auto;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $cerulean-blue;
  }

  &:active {
    background-color: $dark-cerulean;
    color: rgba($white, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 272px;
    font-size: 21px;
  }
}
