.features {
  padding: 35px 0;
  padding-left: 22%;
  padding-right: 40px;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    padding-top: 55px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 80px;
  }
}

.features__item {
  position: relative;
  margin-bottom: 26px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0 35px;
    padding-top: 103px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.features__item--housing::before {
  content: "";
  position: absolute;
  top: -9px;
  left: -49px;
  width: 39px;
  height: 37px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 72px;
    background-size: 100%;
  }
}

.features__item--souvenirs {
  @media (min-width: $tablet-width) {
    order: 2;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.features__item--souvenirs::before {
  content: "";
  position: absolute;
  top: -11px;
  left: -45px;
  width: 32px;
  height: 38px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 75px;
    background-size: 100%;
  }
}

.features__item--food {
  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.features__item--food::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -52px;
  width: 39px;
  height: 37px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 76px;
    height: 68px;
    background-size: 100%;
  }
}

.features__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $black;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    text-align: center;
    margin-bottom: 24px;
  }
}

.features__description {
  line-height: 21px;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.features__description-break {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
