.feedback {
  max-width: 520px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, auto);
    max-width: 960px;
    padding: 0 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 66px;
  }
}

.feedback__fieldset {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

.feedback__fieldset:not(:last-of-type)::after {
  @media (max-width: $mobile-only) {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $very-light-gray;
  }
}

.feedback__fieldset--name {
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-left: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.feedback__fieldset--contacts {
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.feedback__fieldset--impressions {
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    order: -1;
    padding-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 84px;
  }
}

.feedback__impressions::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: -96px;
    right: 0;
    width: 1px;
    height: 292px;
    background-color: $very-light-gray;
  }
}

.feedback__fieldset--attractions {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    padding-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 53px;
  }
}

.feedback__fieldset--comment {
  margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    margin-bottom: 57px;
  }
}

.feedback__fieldset-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $black;
  text-align: center;
  padding-top: 20px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-top: 0;
  }
}

.feedback__fieldset-title--name {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-bottom: 55px;
  }
}

.feedback__fieldset-title--contacts {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    position: relative;
    display: flex;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.feedback__fieldset-title--contacts::before {
  @media (min-width: $tablet-width) {
    content: "";
    width: 123px;
    height: 1px;
    background-color: $very-light-gray;
    margin-top: 10px;
    margin-right: 61px;
    flex-grow: 1;
  }
}

.feedback__fieldset-title--contacts::after {
  @media (min-width: $tablet-width) {
    content: "";
    width: 123px;
    height: 1px;
    background-color: $very-light-gray;
    margin-top: 10px;
    margin-left: 61px;
    flex-grow: 1;
  }
}

.feedback__fieldset-title--impressions {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.feedback__fieldset-title--attractions {
  padding-top: 15px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-top: 0;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.feedback__fieldset-title--attractions::before {
  @media (min-width: $tablet-width) {
    content: "";
    width: 123px;
    height: 1px;
    background-color: $very-light-gray;
    margin-right: 65px;
    flex-grow: 1;
  }
}

.feedback__fieldset-title--attractions::after {
  @media (min-width: $tablet-width) {
    content: "";
    width: 123px;
    height: 1px;
    background-color: $very-light-gray;
    margin-left: 65px;
    flex-grow: 1;
  }
}

.feedback__fieldset-title--comment {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 54px;
  }
}

.feedback__fieldset-title--comment::before {
  @media (min-width: $tablet-width) {
    content: "";
    width: 123px;
    height: 1px;
    background-color: $very-light-gray;
    margin-right: 75px;
    margin-bottom: 7px;
    flex-grow: 1;
  }
}

.feedback__fieldset-title--comment::after {
  @media (min-width: $tablet-width) {
    content: "";
    width: 123px;
    height: 1px;
    background-color: $very-light-gray;
    margin-left: 75px;
    margin-bottom: 7px;
    flex-grow: 1;
  }
}

.feedback__initials-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback__initials-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feedback__contacts {
  padding-right: 58px;
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.feedback__contacts::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: $vivid-gray;
  background-position: center;
  background-repeat: no-repeat;
}

.feedback__contacts--phone {
  margin-bottom: 14px;


  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.feedback__contacts--phone::after {
  top: 34px;
  background-image: url("../../img/phone.svg");

  @media (min-width: $desktop-width) {
    top: 0;
  }
}

.feedback__contacts--email::after {
  top: 31px;
  background-image: url("../../img/mail.svg");

  @media (min-width: $desktop-width) {
    top: 0;
  }
}

.feedback__initials-label,
.feedback__contacts-label {
  line-height: 26px;
  cursor: pointer;
}

.feedback__initials-label {
  margin-right: 15px;
}

.feedback__contacts-label {
  display: block;
  padding-left: 21px;
  margin-bottom: 5px;

  @media (min-width: $desktop-width) {
    max-width: 170px;
    margin-bottom: 0;
    margin-right: 18px;
    padding-left: 0;
  }
}

.feedback__contacts-label--phone {
  margin-bottom: 8px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 16px;
  }
}

.feedback__contacts-span {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.feedback__initials-input,
.feedback__contacts-input {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  background-color: $bright-gray;
  color: $black;
  padding-left: 22px;
  padding-top: 18px;
  padding-bottom: 14px;
  border: none;
  outline: none;

  &:hover {
    background-color: $very-light-gray;
  }

  &:focus,
  &:active {
    background-color: inherit;
    outline: 4px solid $very-light-gray;
    outline-offset: -4px;
  }
}

.feedback__initials-input {
  width: 100%;
}

.feedback__contacts-input {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 258px;
  }
}

.feedback__initials-input::placeholder,
.feedback__contacts-input::placeholder {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $black;
}

.feedback__impressions {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback__impression {
  margin-bottom: 43px;
  padding-left: 28%;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    padding-left: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 79px;
  }
}

.feedback__attractions {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 58px;
    padding-left: 97px;
    padding-right: 95px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.feedback__attraction {
  margin-bottom: 54px;
  padding-left: 28%;

  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
    padding-left: 39%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
    margin-right: 68px;
    padding-left: 81px;
  }
}

.feedback__impressions-label,
.feedback__attractions-label {
  display: block;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $black;
  text-transform: none;
  cursor: pointer;
}

.feedback__impressions-input + label::before {
  content: "";
  position: absolute;
  left: -78px;
  top: -15px;
  width: 55px;
  height: 55px;
  background-color: $bright-gray;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: -75px;
    top: -17px;
  }
}

.feedback__impressions-input:checked + label::after {
  content: "";
  position: absolute;
  left: -61px;
  top: 1px;
  width: 21px;
  height: 21px;
  background-color: $light-black;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: -58px;
    top: 0;
  }
}

.feedback__attractions-input + label::before {
  content: "";
  position: absolute;
  left: -78px;
  top: -15px;
  width: 55px;
  height: 55px;
  background-color: $bright-gray;
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    left: -80px;
    top: -17px;
  }

  @media (min-width: $desktop-width) {
    top: -15px;
    border-radius: 0;
  }
}

.feedback__attractions-input:checked + label::after {
  content: "";
  position: absolute;
  left: -62px;
  top: 5px;
  width: 23px;
  height: 16px;
  background-image: url("../../img/tick.svg");

  @media (min-width: $tablet-width) {
    left: -63px;
    top: 3px;
  }
}


.feedback__impressions-input:hover + label::before,
.feedback__attractions-input:hover + label::before,
.feedback__impressions-input:focus + label::before,
.feedback__attractions-input:focus + label::before {
  background-color: $very-light-gray;
}

.feedback__impressions-input:active + label::before,
.feedback__attractions-input:active + label::before {
  background-color: $cloudy-gray;
}

.feedback__impressions-input:active + label::after,
.feedback__attractions-input:active + label::after {
  opacity: 0.3;
}

.feedback__comment {
  display: block;
  width: 100%;
  min-height: 160px;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  background-color: $bright-gray;
  color: $black;
  padding-top: 13px;
  padding-left: 20px;
  border: none;
  outline: none;
  resize: none;

  &::placeholder {
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    color: $black;
  }

  &:hover {
    background-color: $very-light-gray;
  }

  &:focus,
  &:active {
    background-color: inherit;
    outline: 4px solid $very-light-gray;
    outline-offset: -4px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 18px;
  }
}

.feedback__submit {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 14px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $cerulean-blue;
  }

  &:active {
    background-color: $dark-cerulean;
    color: rgba($white, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    padding-right: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
    padding-right: 0;
  }
}

.feedback__footnote {
  display: none;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    display: block;
    padding-left: 164px;
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 320px;
  }
}
