.gallery {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  position: relative;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.gallery__item::after {
  @media (max-width: $mobile-only) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $very-light-gray;
  }
}

.gallery__item--expanse {
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    padding-top: 0;
  }
}
