.gallery-preview {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 32px;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding-top: 63px;
    padding-bottom: 78px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 81px;
  }
}

.gallery-preview::after {
  @media (max-width: $mobile-only) {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $very-light-gray;
  }
}

.gallery-preview__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $black;
  margin: 0;
  margin-bottom: 28px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 33px;
  }
}

.gallery-preview__description {
  margin: 0 auto;
  line-height: 24px;
  text-align: center;
}

.gallery-preview__description-break {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
