.hotel-search {
  max-width: 458px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 33px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding: 56px 0;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 66px;
  }
}

.hotel-search__caption {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: $black;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 33px;
  }
}

.hotel-search__description {
  margin-bottom: 28px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.hotel-search__description-break {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.hotel-search__button {
  width: 100%;
  padding: 15px 20px 17px;

  &:hover,
  &:focus {
    background-color: $cerulean-blue;
  }

  &:active {
    background-color: $dark-cerulean;
    color: rgba($white, 0.3);
  }
}
