.intro {
  background-image: url("../../img/rocks-mobile.jpg");
  background-repeat: no-repeat;
  background-color: rgba($light-blue, 0.6);
  padding-top: 90px;
  padding-bottom: 85px;
}

.intro--inner {
  background-image: url("../../img/rocks-inner-page.jpg");

  .intro__image {
    max-width: 229px;
  }
}

.intro__image {
  max-width: 282px;
  margin: 0 auto;
}
