.page-main__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $black;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 28px;
  text-align: center;
}

.page-main__preview {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 33px;
  line-height: 24px;
  text-align: center;
}
