.page-body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: $light-black;
  min-height: 100%;
  text-transform: uppercase;
}
