.promo-text {
  width: 285px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 38px;
  padding-bottom: 5px;
}

.promo-text__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $black;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.promo-text__subtitle {
  line-height: 26px;
  text-align: center;
  margin: 0;
}
