.promo-text {
  width: 285px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 33px;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    width: 520px;
    padding-top: 44px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 43px;
  }
}

.promo-text__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $black;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.promo-text__subtitle {
  line-height: 26px;
  text-align: center;
  margin: 0;
}
