.socials {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.socials__hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: $black;
  margin: 0;
  margin-bottom: 33px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 112px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 270px;
  }
}

.socials__list {
  display: flex;
  flex-wrap: wrap;
  width: 152px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.socials__item {
  width: 46px;
  height: 48px;
  background-color: $light-blue;
  margin-right: 6px;
  margin-bottom: 5px;

  &:nth-child(3) {
    margin-right: 0;
  }
}

.socials__link {
  display: block;
  height: 100%;
  background-color: $light-blue;
}
