.socials {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
}

.socials__hashtag {
  max-width: 150px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: $black;
  margin: 0 auto;
  margin-bottom: 33px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.socials__list {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  gap: 6px;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.socials__item {
  width: 46px;
  height: 48px;
  background-color: $light-blue;
}

.socials__link {
  display: block;
  height: 100%;
  position: relative;
  background-color: $light-blue;

  &:hover,
  &:focus {
    background-color: $cerulean-blue;
  }

  &:active {
    background-color: $dark-cerulean;
  }

  &:active .socials__icon {
    opacity: 0.3;
  }
}

.socials__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $white;
}
