// Colors

$white: #ffffff;
$black: #000000;
$blackish: #000101;
$light-black: #333333;
$vivid-black: #010101;
$light-blue: #81b3d2;
$cerulean-blue: #669ec0;
$dark-cerulean: #5496bd;
$light-gray: #eeeeee;
$very-light-gray: #e5e5e5;
$bright-gray: #f2f2f2;
$vivid-gray: #e6e6e6;
$cloudy-gray: #d5d5d5;
$gray: #808080;
$purple-brown: #766357;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-only: 767px;
